<header><h1 class="display-4"><%= @restaurant.name %></h1></header>

<p>Address: <%= @restaurant.address %></p>
<p>Coordinates: <%= @restaurant.latitude %> <%= @restaurant.longitude %></p>
<%= render 'map' %>
<%= image_tag street_view(center: @restaurant.address) %>
<hr>
<%= render 'items/items' %>
<%= render 'items/form' if current_user&.type == "Translator" %>
