<header><h1 class="display-4"><%= @restaurant.name %></h1></header>

<p>Address: <%= @restaurant.address %></p>
<p>Coordinates: <%= @restaurant.latitude %> <%= @restaurant.longitude %></p>
<div class="row">
  <div class="col">
    <%= render 'map' %>
  </div>
  <div class="col">
    <%= render 'items/items' %>
    <%= render 'items/form' if current_user&.type == "Translator" %>
  </div>
</div>

